<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="icon" href="/favicon.ico">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaxx Evolution</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div id="app">
    <header class="header">
        <div class="container container-h">
            <a href="./index.html">
                <img alt="logo" class="logo" src="img/logo.svg" width="125" height="125"/>
            </a>
            <nav>
                <ul class="nav">
                    <li><a href="./app.html">Web app</a></li>
                    <li><a href="./download.html">Download</a></li>
                    <li><a href="./support.html">Support</a></li>
                    <li><a href="./about.html">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div>
        <div class="container position-relative">
            <div class="bg-coins"></div>
            <div class="row py-6">
                <div class="col">
                    <h1 class="text-title"><span class="text-main fw-bold">Jaxx Evolution</span> <br>Crypto Wallet</h1>
                    <div class="text-text opacity-75">
                        Accessible on any device. Now you can become a Jaxx Evolution user in just a couple of minutes.
                        The Jaxx
                        Evolution wallet allows you to store and conduct transactions with over 80 cryptocurrencies.
                        Internal exchange
                        and tracking the value of your investment portfolio are additional features for you from Jaxx
                        Evolution.
                    </div>
                    <div class="btn btn-soon fw-medium">Create wallet</div>
                </div>
                <div class="col">
                    <img src="img/img_pc.png" alt="">
                </div>
            </div>
        </div>
        <div class="container-fluid wrapper_why">
            <div class="container">
                <h2 class="h-title">Why Jaxx Evolution?</h2>
                <div class="row why_blocks-list m-0">
                    <div class="col why_block">
                        <img src="img/settings-01.svg" alt="">
                        <h4>Multicurrency</h4>
                        <div class="why_text">Convenient way to store multiple cryptocurrencies and tokens in one place,
                            with the
                            ability to
                            make
                            payments, exchange, and sell crypto.
                        </div>
                    </div>
                    <div class="col why_block">
                        <img src="img/briefcase-02.svg" alt="">
                        <h4>Customer Care</h4>
                        <div class="why_text">Support operates 24/7, ensuring that our team is available around the
                            clock to address
                            your inquiries and provide assistance.
                        </div>
                    </div>
                    <div class="col why_block">
                        <img src="img/shield-tick.svg" alt="">
                        <h4>Security</h4>
                        <div class="why_text">Private keys remain in the user's possession (Non-custodial), ensuring
                            that you have
                            full control and ownership over your cryptocurrency assets.
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn btn-neon" href="/">
                        <div class="btn-text">Create</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center py-6">
                <div class="col">
                    <h2 class="text-main fw-bold soon_title">Coming Soon</h2>
                    <div class="soon_text">
                        Jaxx Evolution will be available as a desktop application for multiple platforms, including
                        iOS, Android, Windows and Linux.
                    </div>
                    <div class="row row-cols-2 row-soon m-0">
                        <div class="col-4">
                            <div class="btn d-flex align-items-center justify-content-center btn-soon row">
                                <img class="col-5 w-auto" src="img/apple.png" alt="apple">
                                <span class="col-5 w-auto p-0 text-white">Soon</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="btn d-flex align-items-center justify-content-center btn-soon row">
                                <img class="col-5 w-auto" src="img/android.png" alt="apple">
                                <span class="col-5 w-auto p-0 text-white">Soon</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="btn d-flex align-items-center justify-content-center btn-soon row">
                                <img class="col-5 w-auto" src="img/linux.png" alt="apple">
                                <span class="col-5 w-auto p-0 text-white">Soon</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="btn d-flex align-items-center justify-content-center btn-soon row">
                                <img class="col-5 w-auto" src="img/win.png" alt="apple">
                                <span class="col-5 w-auto p-0 text-white">Soon</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="img/comingSoon.png" alt="">
                </div>
            </div>
        </div>
        <div class="container-fluid wrapper_fund">
            <div class="container">
                <h2 class="h-title fw-bolder">How to fund?</h2>
                <div class="opacity-75">It's easy to top up any cryptocurrency account in Jaxx.</div>
                <div class="row fund_blocks-list">
                    <div class="col fund_block">
                        <h4>Receive</h4>
                        <div class="fund_text">Go to the page of the desired cryptocurrency from the 'Wallet' section
                            and click on the
                            'Receive' button.
                        </div>
                        <img src="img/path1.svg" alt="">
                    </div>
                    <div class="col fund_block">
                        <img class="mb-5" src="img/path2.svg" alt="">
                        <h4>Copy</h4>
                        <div class="fund_text">Copy the wallet address of the digital coin you want to deposit or use
                            the QR code.
                        </div>
                    </div>
                    <div class="col fund_block">
                        <h4>Paste</h4>
                        <div class="fund_text">When processing a transaction in the Jaxx wallet, paste the copied
                            address of the
                            cryptocurrency wallet into the designated field in the transaction request.
                        </div>
                        <img src="img/path3.svg" alt="">
                    </div>
                    <div class="col fund_block">
                        <img class="mb-5" src="img/path4.svg" alt="">
                        <h4>Confirm</h4>
                        <div class="fund_text">Confirm the transfer, and you're done!
                        </div>
                    </div>
                </div>
            </div>
            <div class="container wrapper_stats">
                <h2 class="text-center mb-5">Jaxx in Numbers</h2>
                <div class="row stats_blocks-list">
                    <div class="col stat-block">
                        <div class="stat_main">
                            <img class="line-border" src="img/line.svg" alt="">
                            <img src="img/icon-stat1.svg" alt="">
                            <div class="stat_num">65 000</div>
                            <div class="under_icon">people</div>
                        </div>
                        <div class="stat_text">are already using the Jaxx cryptocurrency wallet.</div>
                    </div>
                    <div class="col stat-block">
                        <div class="stat_main">
                            <img class="line-border" src="img/line2.svg" alt="">
                            <img src="img/icon-stat2.svg" alt="">
                            <div class="stat_num">300 000</div>
                            <div class="under_icon">transactions</div>
                        </div>
                        <div class="stat_text">have been made
                            since the launch.
                        </div>
                    </div>
                    <div class="col stat-block">
                        <div class="stat_main">
                            <img class="line-border" src="img/line3.svg" alt="">
                            <img src="img/icon_stat3.svg" alt="">
                            <div class="stat_num">27 000 $</div>
                            <div class="under_icon">earned</div>
                        </div>
                        <div class="stat_text">our users have earned
                            through referrals from their friends.
                        </div>
                    </div>
                    <div class="col stat-block">
                        <div class="stat_main">
                            <img class="line-border" src="img/line4.svg" alt="">
                            <img src="img/icon_stat4.svg" alt="">
                            <div class="stat_num">1,5</div>
                            <div class="under_icon">seconds</div>
                        </div>
                        <div class="stat_text">the average transaction sending time.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-6">
            <div class="wrapper_banner">
                <div class="row align-items-center">
                    <div class="col text-white">
                        <h2>Create a crypto <br>
                            wallet right now!</h2>
                        <div class="banner-text text-opacity">Join Jaxx Evolution and become the <br>
                            owner of a multicurrency wallet in just <br>
                            a few minutes!
                        </div>
                        <a class="btn btn-neon">
                            <div class="btn-text">CREATE</div>
                        </a>
                    </div>
                    <div class="col">
                        <img src="img/image-banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="text-center fw-bold">Our goal</h2>
            <div class="text-center text-rip rip"><a
                    href="https://blog.jaxx.io/sunsetting-jaxx-liberty-what-you-need-to-know/"
                    class="text-main text-rip">Jaxx Liberty RIP</a>, but our team of dedicated enthusiasts has decided
                to bring it back to life. We have a deep
                love for this application and are committed to restoring its functionality. Our goal is to not only
                revive Jaxx
                Liberty, but to also continue to develop and improve upon its features.
                <div class="text-rip text-main pt-5 text-end">ex. Liberty</div>
            </div>
        </div>
        <div class="container wrapper_faq">
            <h2 class="text-center">
                <span class="faq">FAQ</span>
            </h2>
            <div class="faq_block-list">
                <div v-for="(faq, index) in faqs" :key="index" class="faq_block-item">
                    <div class="row">
                        <div class="col faq-name">{{ faq.question }}</div>
                        <div @click="toggleAnswer(index)" class="col-1 w-auto btn-faq">
                            <img v-if="faq.showAnswer" src="img/minus.svg" alt="">
                            <img v-else src="img/plus.svg" alt="">
                        </div>
                    </div>
                    <div v-if="faq.showAnswer" class="faq-answer">{{ faq.answer }}</div>
                </div>
            </div>
        </div>
    </div>
    <footer class="mt-auto">
        <div class="container">
            <div class="row justify-content-center wrapper_footer">
                <div class="col-3 w-auto">
                    <h3 class="footer-title">Jaxx</h3>
                    <div>
                        <a href="">Rules</a> <br>
                        <a href="">Policy</a> <br>
                        <a href="">Tournaments</a> <br>
                        <a href="">Giveaways</a> <br>
                        <a href="">News</a> <br>
                    </div>
                </div>
                <div class="col-3 w-auto">
                    <h3 class="footer-title">Company</h3>
                    <div>
                        <a href="">About Us</a> <br>
                        <a href="">Questions</a> <br>
                        <a href="">Blog</a> <br>
                    </div>
                </div>
                <div class="col-3 w-auto">
                    <h3 class="footer-title">Contacts</h3>
                    <div>
                        <a href="">Facebook</a> <br>
                        <a href="">Twitter / Twitter Support</a> <br>
                        <a href="">Instagram</a> <br>
                        <a href="">Giveaways</a> <br>
                        <a href="">News</a> <br>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5">© Jaxx Evolution 2023</div>
        </div>
    </footer>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                faqs: [
                    {
                        question: 'What is a cryptocurrency wallet?',
                        answer: 'Cryptocurrency wallet is software or hardware device that enables storing, sending, and receiving cryptocurrency. It ensures the secure storage of private keys needed to access your crypto assets.',
                        showAnswer: true,
                    },
                    {
                        question: 'Which type of cryptocurrency wallet to choose:\n' +
                            'hardware, software, or online?',
                        answer: 'Cryptocurrency wallet is software or hardware device that enables storing, sending, and receiving cryptocurrency. It ensures the secure storage of private keys needed to access your crypto assets.',
                        showAnswer: false,
                    },
                    {
                        question: 'How can I fund my cryptocurrency wallet?',
                        answer: 'Cryptocurrency wallet is software or hardware device that enables storing, sending, and receiving cryptocurrency. It ensures the secure storage of private keys needed to access your crypto assets.',
                        showAnswer: false,
                    },
                    {
                        question: 'What to do if I forgot the password to my cryptocurrency wallet?',
                        answer: 'Cryptocurrency wallet is software or hardware device that enables storing, sending, and receiving cryptocurrency. It ensures the secure storage of private keys needed to access your crypto assets.',
                        showAnswer: false,
                    },
                    {
                        question: 'How to ensure the security of my cryptocurrency wallet?',
                        answer: 'Cryptocurrency wallet is software or hardware device that enables storing, sending, and receiving cryptocurrency. It ensures the secure storage of private keys needed to access your crypto assets.',
                        showAnswer: false,
                    },
                ],
            };
        },
        methods: {
            toggleAnswer(index) {
                this.faqs[index].showAnswer = !this.faqs[index].showAnswer;
            },
        },
    });

    app.mount('#app');
</script>

<script type="module" src="/js/main.js"></script>
</body>
</html>